@import '../../theme/scss/mixins';

.auth {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: fit-content;
    margin: 100px 0;
}

.auth_title {
    width: 100%;
    height: fit-content;
    margin-bottom: 58px;
    font-size: var(--h3-font-size);
    font-weight: 700;
    line-height: 1;
    color: var(--main-color);
}

.auth_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.form_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    font-size: var(--label-font-size);
    line-height: 1;
    color: var(--grey800-color);

    & > .form_error {
        font-size: var(--text-font-size);
        color: var(--error-color);
    }
}

.form_field {
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
    padding: 12px 14px;
    border: 1px solid var(--grey700-color);
    outline: none;
    border-radius: var(--button-border-radius);
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    font-size: var(--label-font-size);
    line-height: 1;
    font-weight: 700;
    background: var(--grey400-color);
    color: var(--main-color);

    &::placeholder {
        color: var(--grey800-color);
    }
}

.form_checkbox {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 24px;

    & > .checkbox_field {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .checkbox_field + .checkbox_label {
        position: relative;
        top: 3px;
        display: flex;
        width: 14px;
        height: 14px;
        margin: 0 8px 0 0;
        border: 1px solid var(--grey800-color);
        user-select: none;
        cursor: pointer;
    }

    .checkbox_field:checked + .checkbox_label {
        border-color: var(--primary200-color);
        background: var(--primary200-color);

        &::before {
            position: absolute;
            top: 2px;
            left: 1px;
            content: '';
            display: inline-block;
            width: 8px;
            height: 4px;
            border-left: 2px solid var(--main-color);
            border-bottom: 2px solid var(--main-color);
            transform: rotate(-45deg);
        }
    }

    .checkbox_field:not(:disabled):not(:checked) + .checkbox_label {
        &:hover {
            border-color: var(--grey1000-color);
        }
    }
    .checkbox_field:not(:disabled):active + .checkbox_label {
        border-color: var(--grey1000-color);
        background: var(--grey1000-color);
    }

    & > span {
        display: inline-block;
        width: calc(100% - 22px);
        font-size: var(--text-font-size);
        line-height: 20px;
        font-weight: 400;
        color: var(--main-color);
    }

}

.form_sign_btn {
    @include button();
    width: 100%;
    padding: 16px 12px;
    font-weight: 700;

    &:disabled {
        pointer-events: none;
        filter: grayscale(70%);
    }
}


