.wrapper {
    width: 1120px;

    .title {
        font-size: var(--h4-font-size);
        line-height: 20px;
        font-weight: 700;
    }

    .search_wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .search_field {
        width: 272px;
        padding: 12px 40px 12px 14px;
        margin-right: 16px;
        border: 1px solid var(--grey700-color);
        border-radius: var(--button-border-radius);
        font-size: var(--label-font-size);
        line-height: 16px;
        font-weight: 500;
        color: var(--main-color);
        background: url('../../../../../theme/assets/icons/search_white.svg') no-repeat var(--grey400-color);
        background-position: calc(100% - 17px);
    }

    .search::placeholder {
        font-size: var(--label-font-size);
        line-height: 16px;
        font-weight: 500;
        color: var(--main-color);
    }

    .search:focus {
        outline: none;
    }

    .search_btn {
        display: inline-block;
        width: fit-content;
        height: 42px;
        margin-right: 16px;
        padding: 13px;
        border: none;
        outline: none;
        box-shadow: var(--box-shadow);
        border-radius: var(--button-border-radius);
        font-size: var(--label-font-size);
        font-weight: 700;
        color: var(--main-color);
        background: var(--grey600-color);
        cursor: pointer;

        &:active {
            box-shadow: none;
        }
    }

    .clear_search_btn {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 42px;
        padding: 13px;
        border: none;
        outline: none;
        box-shadow: var(--box-shadow);
        border-radius: var(--button-border-radius);
        background:  var(--grey600-color);
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 13px;
            left: 13px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url('../../../../../theme/assets/icons/cross.svg') no-repeat;
            background-size: cover;
            filter: brightness(100);
        }

        &:active {
            box-shadow: none;
        }
    }

    .table_wrapper {
        min-height: 592px;
        box-shadow: none;
        border-radius: 0;
        background: var(--grey300-color);
    }

    .pagination {

        li button {
            width: 20px;
            min-width: auto;
            height: 20px;
            line-height: 20;
            color: var(--main-color);
            background: rgba(55, 66, 89, 0.5);
            margin: 0 5px;

            &:hover {
                background: var(--primary900-color);
            }
        }

        li button[aria-current="true"] {
            background: var(--primary200-color);
        }

        li div {
            color: var(--main-color);
        }

    }
}
