@import '../../theme/scss/mixins';

.header {
    display: flex;
    align-items: center;
    width: var(--wrapper-width);
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(60, 72, 97, 0.5);
}

.header_logo {
    width: 140px;
    height: 20px;
    margin-right: auto;

    img {
        display: inline-block;
        width: 140px;
        height: 20px;
    }
}

.header_btn_login {
    @include button(var(--main-color), var(--grey100-color));
}
