@import '../../../theme/scss/mixins';

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background: rgba(29, 38, 57, 0.7);
    backdrop-filter: blur(20px);
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.steps_one,
.steps_two,
.steps_three {
    display: inline-block;
    width: 95px;
    height: 6px;
    border-radius: 100px;
    background: var(--grey100-color);
}

.steps_one,
.wallet_ready,
.twitter_ready {
    background: var(--primary300-color);
}

.popup_content {
    position: absolute;
    top: 20px;
    left: calc((100% - 332px) / 2);
    z-index: 2;
    width: 332px;
    height: fit-content;
    padding: 30px 16px 16px;
    border-radius: var(--button-border-radius);
    box-shadow: var(--box-shadow);
    background: var(--grey400-color);
    color: var(--main-color);
}

.content_title {
    margin-bottom: 20px;
    font-size: var(--label-font-size);
    line-height: 1;
    font-weight: 700;
}

.content_info {
    margin-bottom: 24px;
    font-size: var(--text-font-size);
    line-height: 20px;
    font-weight: 400;
}

.content_btns {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-bottom: 16px;
    }
}

.connect_metamask_btn,
.next_btn,
.finish_btn {
    @include button();
    width: 100%;
    margin-bottom: 16px;
    padding: 12px;

    &:disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}

.next_btn {
    background: var(--grey600-color);
}

.twitter_btn, .follow_twitter_btn {
    @include button(#1DA1F2);
    width: 48%;

    & span:first-child {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background: url('../../../theme/assets/icons/twitter.svg') no-repeat;
        background-size: cover;
        filter: invert(100%) brightness(200%);
        -webkit-filter: invert(100%) brightness(200%);
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}

.telegram_disabled {
    pointer-events: none;
    opacity: 0.3;
}

.follow_telegram_btn {
    @include button(#0088CC);
    width: 100%;
    margin-top: 16px;

    & span:first-child {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background: url('../../../theme/assets/icons/telegram.svg') no-repeat;
        background-size: cover;
        filter: invert(100%) brightness(200%);
        -webkit-filter: invert(100%) brightness(200%);
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}

.message {
    background: var(--primary200-color) !important;
}

@media (max-width: 360px) {
    .popup_content {
        left: calc((100% - 300px) / 2);
        width: 300px;
    }
}
