@mixin button($bgcolor: var(--primary200-color), $color: var(--main-color)) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 12px 8px;
    border: none;
    outline: none;
    border-radius: var(--button-border-radius);
    box-shadow: var(--box-shadow);
    font-size: var(--label-font-size);
    line-height: 1;
    font-weight: 700;
    background: $bgcolor;
    color: $color;
    cursor: pointer;

    &:active {
        box-shadow: none;
    }
}

@mixin label($bgcolor: var(--primary200-color), $color: var(--main-color)) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: var(--label-border-radius);
    font-size: var(--label-font-size);
    line-height: 1;
    font-weight: 700;
    background: $bgcolor;
    color: $color;
    cursor: pointer;
}
