.column_title {
    color: var(--grey900-color) !important;
    font-size: var(--text-font-size) !important;
    font-weight: 500;
    line-height: 20px;

    svg {
        color: var(--grey900-color) !important;
        font-size: var(--text-font-size) !important;
        font-weight: 500;
        line-height: 20px;
    }
}