@import '../../../theme/scss/mixins';

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 200px auto 100px;
}

.signup_title {
    margin-bottom: 33px;
    font-size: 48px;
    line-height: 40px;
    font-weight: 800;
    color: var(--main-color);

    span {
        display: inline-block;
    }

    & span:nth-child(2) {
        margin: 0 15px;
        color: var(--primary200-color);
    }
}

.signup_connected_title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 40px;
    color: var(--main-color);
}

.signup_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-size: var(--label-font-size);
    line-height: 24px;
    color: var(--main-color);

    span {
        display: inline-block;
    }
}

.signup_open_popup_btn, {
    @include button();
    padding: 12px;
}

.signup_socials {
    margin-top: 30px;

    & li:nth-child(n + 3) {
        display: none;

    }
}

@media (max-width: 768px) {
    .signup {
        align-items: flex-start;
    }

    .signup_info {
        align-items: flex-start;
    }

    .signup_title {
        font-size: 48px;
        line-height: 60px;
    }
}


