@import '../../../theme/scss/mixins';

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 200px auto 100px;
}

.signup_title {
    margin-bottom: 33px;
    font-size: 48px;
    line-height: 40px;
    font-weight: 800;
    color: var(--main-color);

    span {
        display: inline-block;
    }

    & span:nth-child(2) {
        margin: 0 15px;
        color: var(--primary200-color);
    }
}

.signup_connected_title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 40px;
    color: var(--main-color);
}

.signup_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-size: var(--label-font-size);
    line-height: 24px;
    color: var(--main-color);

    span {
        display: inline-block;
    }
}

.signup_open_popup_btn, {
    @include button();
    padding: 12px;
    margin-left: 0;
}

.content_socials {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.socials_public_deck,
.socials_white_paper {
    @include button(var(--primary200-color));
    width: 150px;
    margin-right: 12px;

    & span:first-child {
        display: inline-block;
        margin-right: 6px;
        background-size: cover;
        filter: invert(100%) brightness(200%);
        -webkit-filter: invert(100%) brightness(200%);
    }
}

.socials_white_paper {
    margin-right: 0;
}

@media (max-width: 768px) {
    .signup {
        align-items: flex-start;
    }

    .signup_info {
        align-items: flex-start;
    }

    .signup_title {
        font-size: 48px;
        line-height: 60px;
    }
}


