.wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: var(--wrapper-width);
    min-height: calc(100vh - 240px);
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: content-box;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100% - 100px);
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 20px;
    }
}
